In [87]:
import pandas as pd
import numpy as np

사람들이 강릉에 놀러오면 가장 많이 먹는 음식은 무엇일까?

In [89]:
지역맛집_외지인 = pd.read_csv('./지역_맛집_외지인.csv', encoding='euc-kr')
지역맛집_외지인 = pd.DataFrame(지역맛집_외지인)

In [91]:
지역맛집_외지인.head() #길이 100

   순위           업소명                      주소     분류  외지인 검색 수
0   1          동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
1   2        강릉커피거리                  강원 강릉시  먹거리기타    111199
2   3         카페툇마루       강원 강릉시 난설헌로 232-0   카페기타     89966
3   4  테라로사커피공장강릉본점          강원 강릉시 현천길 7-0  커피전문점     83281
4   5     엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087

In [93]:
지역맛집_외지인['분류'].unique() #분류 나열하기

array(['한식', '먹거리기타', '카페기타', '커피전문점', '음식점기타', '전문음식점', '제과점', '중식',
       '패스트푸드'], dtype=object)

In [94]:
지역맛집_외지인['분류'] = 지역맛집_외지인['분류'].replace(['음식점기타', '전문음식점', '음식점'], '음식점기타')

In [95]:
지역맛집_외지인['분류'] = 지역맛집_외지인['분류'].replace(['카페기타', '커피전문점'], '카페')

In [96]:
지역맛집_외지인 = 지역맛집_외지인.drop('순위', axis = 1)

In [97]:
지역맛집_외지인.head()

            업소명                      주소     분류  외지인 검색 수
0          동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
1        강릉커피거리                  강원 강릉시  먹거리기타    111199
2         카페툇마루       강원 강릉시 난설헌로 232-0     카페     89966
3  테라로사커피공장강릉본점          강원 강릉시 현천길 7-0     카페     83281
4     엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087

In [98]:
#데이터 골라내기
drop_data = 지역맛집_외지인[지역맛집_외지인['주소']=='강원 강릉시']
drop_data #[1, 6, 97]

       업소명      주소     분류  외지인 검색 수
1   강릉커피거리  강원 강릉시  먹거리기타    111199
6   초당두부마을  강원 강릉시  먹거리기타     31360
97    항구마차  강원 강릉시     한식      4980

In [99]:
지역맛집_외지인 = 지역맛집_외지인.drop(index=[1, 6, 97], axis=0)
지역맛집_외지인.head()

            업소명                      주소     분류  외지인 검색 수
0          동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
2         카페툇마루       강원 강릉시 난설헌로 232-0     카페     89966
3  테라로사커피공장강릉본점          강원 강릉시 현천길 7-0     카페     83281
4     엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087
5             곳      강원 강릉시 진리해변길 143-0     카페     42426

In [100]:
지역맛집_외지인 = 지역맛집_외지인.reset_index()
지역맛집_외지인.head()

   index           업소명                      주소     분류  외지인 검색 수
0      0          동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
1      2         카페툇마루       강원 강릉시 난설헌로 232-0     카페     89966
2      3  테라로사커피공장강릉본점          강원 강릉시 현천길 7-0     카페     83281
3      4     엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087
4      5             곳      강원 강릉시 진리해변길 143-0     카페     42426

In [101]:
지역맛집_외지인 = 지역맛집_외지인.drop('index', axis = 1)

In [102]:
지역맛집_외지인

             업소명                      주소     분류  외지인 검색 수
0           동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
1          카페툇마루       강원 강릉시 난설헌로 232-0     카페     89966
2   테라로사커피공장강릉본점          강원 강릉시 현천길 7-0     카페     83281
3      엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087
4              곳      강원 강릉시 진리해변길 143-0     카페     42426
..           ...                     ...    ...       ...
92         강릉해파랑    강원 강릉시 창해로350번길 17-0  음식점기타      5102
93        미르마르본점     강원 강릉시 창해로14번길 22-0     카페      5076
94          썸머키친         강원 강릉시 죽헌길 67-6  음식점기타      4988
95          오월커피   강원 강릉시 경강로2046번길 11-2     카페      4971
96         강릉불고기        강원 강릉시 풍호길 270-0     한식      4912

[97 rows x 4 columns]

## 위도 경도 추출하기

In [108]:
from geopy.geocoders import Nominatim

In [103]:
지역맛집_외지인_주소 = 지역맛집_외지인['주소']

In [104]:
지역맛집_외지인_주소.head()

0    강원 강릉시 초당순두부길77번길 15-0
1         강원 강릉시 난설헌로 232-0
2            강원 강릉시 현천길 7-0
3     강원 강릉시 경강로2255번길 21-0
4        강원 강릉시 진리해변길 143-0
Name: 주소, dtype: object

In [105]:
지역맛집_외지인_주소.info()

<class 'pandas.core.series.Series'>
RangeIndex: 97 entries, 0 to 96
Series name: 주소
Non-Null Count  Dtype
--------------  -----
97 non-null     object
dtypes: object(1)
memory usage: 904.0+ bytes

In [106]:
지역맛집_외지인_주소[0][:-2] #'강원 강릉시 초당순두부길77번길 15'
지역맛집_외지인_주소[0][-1] == '0' #True
range(len(지역맛집_외지인_주소)) #range(0, 97)

range(0, 97)

In [109]:
#geopy검색을 방해하는 끝글자를 제거하는 코드 작성
C지역맛집_외지인_주소 = []
for i in 지역맛집_외지인_주소:
    if i[-1] == '0':
        C지역맛집_외지인_주소.append(i[:-2])
    else :
        C지역맛집_외지인_주소.append(i)
C지역맛집_외지인_주소

['강원 강릉시 초당순두부길77번길 15',
 '강원 강릉시 난설헌로 232',
 '강원 강릉시 현천길 7',
 '강원 강릉시 경강로2255번길 21',
 '강원 강릉시 진리해변길 143',
 '강원 강릉시 난설헌로 145',
 '강원 강릉시 창해로350번길 3',
 '강원 강릉시 진리항구길 51',
 '강원 강릉시 난설헌로 144',
 '강원 강릉시 남강초교1길 24',
 '강원 강릉시 해안로 1107',
 '강원 강릉시 순포안길 6',
 '강원 강릉시 임영로182번길 7-1',
 '강원 강릉시 초당순두부길 77',
 '강원 강릉시 초당순두부길 95-5',
 '강원 강릉시 경강로2069번길 15',
 '강원 강릉시 경강로 2642',
 '강원 강릉시 강릉대로587번길 10-5',
 '강원 강릉시 초당순두부길 95-5',
 '강원 강릉시 강릉대로204번길 2',
 '강원 강릉시 강릉대로 205',
 '강원 강릉시 경강로 2400',
 '강원 강릉시 초당순두부길 98',
 '강원 강릉시 솔올로 103',
 '강원 강릉시 창해로 419',
 '강원 강릉시 금성로 6',
 '강원 강릉시 학교담길 32-8',
 '강원 강릉시 창해로2번길 32',
 '강원 강릉시 창해로350번길 33',
 '강원 강릉시 교동광장로 29',
 '강원 강릉시 해안로 1822',
 '강원 강릉시 창해로14번길 28',
 '강원 강릉시 가작로 8',
 '강원 강릉시 창해로14번길 40',
 '강원 강릉시 하슬라로232번길 26-12',
 '강원 강릉시 주문북로 222-',
 '강원 강릉시 범일로 364',
 '강원 강릉시 철둑길 42',
 '강원 강릉시 난설헌로 200',
 '강원 강릉시 경강로2255번길 21',
 '강원 강릉시 초당원길 63-2',
 '강원 강릉시 하슬라로 159',
 '강원 강릉시 초당순두부길 2',
 '강원 강릉시 대학길 12-6',
 '강원 강릉시 하슬라로206번길 4-3',
 '강원 강릉시 교동광장로 114',
 '강원 강릉시 성안길 47-3',
 '강원 강릉시 진고개로 2679',
 '강원 강릉시 경강로 2097',
 '강원 강릉시 창해로 346',
 '강원 강릉시 초당순두부길77번길 20',
 '강원 강릉시 해안로 656-1',
 '강원 강릉시 초당순두부길 47',
 '강원 강릉시 해안로 1437',
 '강원 강릉시 진리해변길 68-9',
 '강원 강릉시 위촌길 55',
 '강원 강릉시 남구길30번길 22',
 '강원 강릉시 해안로 1723',
 '강원 강릉시 해안로 1597',
 '강원 강릉시 경강로 1961',
 '강원 강릉시 공항길127번길 42',
 '강원 강릉시 정동등명길 3',
 '강원 강릉시 창해로350번길 25',
 '강원 강릉시 초당순두부길 114',
 '강원 강릉시 초당원길 17',
 '강원 강릉시 옥천로 47',
 '강원 강릉시 화부산로 78',
 '강원 강릉시 임영로 10',
 '강원 강릉시 해안로 1729',
 '강원 강릉시 강변로534번길 61',
 '강원 강릉시 초당순두부길 98',
 '강원 강릉시 염전길 147',
 '강원 강릉시 금성로35번길 4',
 '강원 강릉시 강릉대로 199-8',
 '강원 강릉시 초당순두부길 108',
 '강원 강릉시 경포로15번길 6-19',
 '강원 강릉시 공항길29번길 7',
 '강원 강릉시 연주로 438',
 '강원 강릉시 성덕포남로 56',
 '강원 강릉시 창해로 360-1',
 '강원 강릉시 해안로 1459',
 '강원 강릉시 초당순두부길77번길 16',
 '강원 강릉시 해안로 1757',
 '강원 강릉시 학교담길 32-8',
 '강원 강릉시 강릉대로 445-1',
 '강원 강릉시 창해로350번길 5',
 '강원 강릉시 해안로 517',
 '강원 강릉시 경강로 2092',
 '강원 강릉시 난설헌로 73',
 '강원 강릉시 난설헌로 234-5',
 '강원 강릉시 솔올로 3',
 '강원 강릉시 창해로 375',
 '강원 강릉시 창해로350번길 17',
 '강원 강릉시 창해로14번길 22',
 '강원 강릉시 죽헌길 67-6',
 '강원 강릉시 경강로2046번길 11-2',
 '강원 강릉시 풍호길 270']

In [110]:
geo_local = Nominatim(user_agent='South Korea')

In [111]:
geo = geo_local.geocode('강원 강릉시 초당순두부길77번길 15') #none값이 나오는 이유는 알 수가 없다.
print(geo)

None

In [112]:
geo2 = geo_local.geocode('강원 강릉시 해안로 1459') #전부 다 오류인 것은 아닌듯하다.
print(geo2)

해안로, 경포동, 강릉시, 강원도, 25460, 대한민국

In [114]:
#위도, 경도를 반환하는 함수
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

geocoding('강원 강릉시 경강로2255번길 21')

[37.7660725, 128.9075285]

In [33]:
latitude = []
longtitude = []

for i in C지역맛집_외지인_주소:
    if geo_local.geocode(i) == None:
        latitude.append(0)
        longtitude.append(0)
    else:
        latitude.append(geocoding(i)[0])
        longtitude.append(geocoding(i)[1])
print(latitude, longtitude)

[0, 37.7908365, 0, 37.7660725, 37.8419086, 37.7908365, 37.7962206, 37.8361547, 37.7908365, 37.7693596, 37.8045208, 0, 37.7572806, 37.7913361, 37.7913361, 37.754199, 37.7593465, 37.7843303, 37.7913361, 37.7579051, 37.7625858, 37.7593465, 37.7913361, 37.7710137, 37.7980666, 37.755168, 37.8809522, 0, 37.7962206, 37.7650597, 37.8045208, 37.7719482, 37.7691315, 37.7719482, 37.769570099999996, 37.9052967, 37.7119433, 37.8908421, 37.7908365, 37.7660725, 37.7849701, 37.7611765, 37.7913361, 37.7538507, 37.7678349, 37.7643297, 0, 37.8520371, 37.7593465, 37.7980666, 0, 37.8045208, 37.7913361, 37.8682534, 37.8419086, 37.758775, 37.7668194, 37.8045208, 37.8045208, 37.7593465, 37.7655582, 0, 37.7962206, 37.7913361, 37.783454, 37.7576114, 37.7648055, 37.7508411, 37.8045208, 37.7650189, 37.7913361, 0, 37.752594, 37.7625858, 37.7913361, 37.7727923, 37.7636036, 37.8606382, 37.7604989, 37.7980666, 37.8045208, 0, 37.8045208, 37.8809522, 37.7625858, 37.7962206, 37.8045208, 37.7544603, 37.7908365, 37.7908365, 37.7624715, 37.7980666, 37.7962206, 37.7719482, 37.77901, 37.7510833, 37.7470933] [0, 128.9143248, 0, 128.9075285, 128.8747455, 128.9143248, 128.9174835, 128.8754836, 128.9143248, 128.9186771, 128.9059935, 0, 128.8935517, 128.9157642, 128.9157642, 128.8932488, 128.9025457, 128.9193316, 128.9157642, 128.8937974, 128.9001451, 128.9025457, 128.9157642, 128.87893889999998, 128.9160118, 128.8994978, 128.8314724, 0, 128.9174835, 128.8741939, 128.9059935, 128.9481104, 128.87646445000001, 128.9481104, 128.87852995110126, 128.822049, 128.9022896, 128.8240674, 128.9143248, 128.9075285, 128.9157905, 128.8729529, 128.9157642, 128.8965063, 128.8775411, 128.8771002, 0, 128.8230094, 128.9025457, 128.9160118, 0, 128.9059935, 128.9157642, 128.8465621, 128.8747455, 128.8603097, 128.9065356, 128.9059935, 128.9059935, 128.9025457, 128.9530832, 0, 128.9174835, 128.9157642, 128.9168566, 128.9029914, 128.8901036, 128.8949066, 128.9059935, 128.9191795, 128.9157642, 0, 128.8976647, 128.9001451, 128.9157642, 128.8761062, 128.9393673, 128.8375378, 128.9181756, 128.9160118, 128.9059935, 0, 128.9059935, 128.8314724, 128.9001451, 128.9174835, 128.9059935, 128.8960379, 128.9143248, 128.9143248, 128.8772262, 128.9160118, 128.9174835, 128.9481104, 128.8802278, 128.8927828, 128.9710835]

In [34]:
lat_df = pd.DataFrame(latitude, columns=['lat'])
lng_df = pd.DataFrame(longtitude, columns=['lng'])

lat_df

          lat
0    0.000000
1   37.790836
2    0.000000
3   37.766072
4   37.841909
..        ...
92  37.796221
93  37.771948
94  37.779010
95  37.751083
96  37.747093

[97 rows x 1 columns]

In [35]:
# lat과 lng 합치기
lat_df['lng'] = lng_df

In [36]:
lat_df

          lat         lng
0    0.000000    0.000000
1   37.790836  128.914325
2    0.000000    0.000000
3   37.766072  128.907529
4   37.841909  128.874745
..        ...         ...
92  37.796221  128.917484
93  37.771948  128.948110
94  37.779010  128.880228
95  37.751083  128.892783
96  37.747093  128.971083

[97 rows x 2 columns]

In [37]:
rg_mat_tour_add = pd.DataFrame(C지역맛집_외지인_주소, columns=['주소'])

In [38]:
rg_mat_tour_add

                       주소
0    강원 강릉시 초당순두부길77번길 15
1         강원 강릉시 난설헌로 232
2            강원 강릉시 현천길 7
3     강원 강릉시 경강로2255번길 21
4        강원 강릉시 진리해변길 143
..                    ...
92     강원 강릉시 창해로350번길 17
93      강원 강릉시 창해로14번길 22
94        강원 강릉시 죽헌길 67-6
95  강원 강릉시 경강로2046번길 11-2
96         강원 강릉시 풍호길 270

[97 rows x 1 columns]

In [39]:
rg_mat_tour_add['lng'] = lng_df

In [40]:
rg_mat_tour_add['lat'] = lat_df['lat']

In [41]:
rg_mat_tour_add

                       주소         lng        lat
0    강원 강릉시 초당순두부길77번길 15    0.000000   0.000000
1         강원 강릉시 난설헌로 232  128.914325  37.790836
2            강원 강릉시 현천길 7    0.000000   0.000000
3     강원 강릉시 경강로2255번길 21  128.907529  37.766072
4        강원 강릉시 진리해변길 143  128.874745  37.841909
..                    ...         ...        ...
92     강원 강릉시 창해로350번길 17  128.917484  37.796221
93      강원 강릉시 창해로14번길 22  128.948110  37.771948
94        강원 강릉시 죽헌길 67-6  128.880228  37.779010
95  강원 강릉시 경강로2046번길 11-2  128.892783  37.751083
96         강원 강릉시 풍호길 270  128.971083  37.747093

[97 rows x 3 columns]

In [42]:
#위도, 경도가 나타나지 않은 주소 리스트
nan_rg_add = rg_mat_tour_add[rg_mat_tour_add['lng']==0]
len(nan_rg_add) #9
nan_rg_add

                      주소  lng  lat
0   강원 강릉시 초당순두부길77번길 15  0.0  0.0
2           강원 강릉시 현천길 7  0.0  0.0
11         강원 강릉시 순포안길 6  0.0  0.0
27      강원 강릉시 창해로2번길 32  0.0  0.0
46       강원 강릉시 성안길 47-3  0.0  0.0
50  강원 강릉시 초당순두부길77번길 20  0.0  0.0
61        강원 강릉시 정동등명길 3  0.0  0.0
71        강원 강릉시 염전길 147  0.0  0.0
81  강원 강릉시 초당순두부길77번길 16  0.0  0.0

In [43]:
#위도, 경도 위치 변경
nan_rg_add = nan_rg_add[['주소', 'lat', 'lng']]
rg_mat_tour_add = rg_mat_tour_add[['주소', 'lat', 'lng']]

In [44]:
nan_rg_add

                      주소  lat  lng
0   강원 강릉시 초당순두부길77번길 15  0.0  0.0
2           강원 강릉시 현천길 7  0.0  0.0
11         강원 강릉시 순포안길 6  0.0  0.0
27      강원 강릉시 창해로2번길 32  0.0  0.0
46       강원 강릉시 성안길 47-3  0.0  0.0
50  강원 강릉시 초당순두부길77번길 20  0.0  0.0
61        강원 강릉시 정동등명길 3  0.0  0.0
71        강원 강릉시 염전길 147  0.0  0.0
81  강원 강릉시 초당순두부길77번길 16  0.0  0.0

In [45]:
rg_mat_tour_add

                       주소        lat         lng
0    강원 강릉시 초당순두부길77번길 15   0.000000    0.000000
1         강원 강릉시 난설헌로 232  37.790836  128.914325
2            강원 강릉시 현천길 7   0.000000    0.000000
3     강원 강릉시 경강로2255번길 21  37.766072  128.907529
4        강원 강릉시 진리해변길 143  37.841909  128.874745
..                    ...        ...         ...
92     강원 강릉시 창해로350번길 17  37.796221  128.917484
93      강원 강릉시 창해로14번길 22  37.771948  128.948110
94        강원 강릉시 죽헌길 67-6  37.779010  128.880228
95  강원 강릉시 경강로2046번길 11-2  37.751083  128.892783
96         강원 강릉시 풍호길 270  37.747093  128.971083

[97 rows x 3 columns]

In [46]:
rg_mat_tour_add.to_csv('./rg_mat_tour_add.csv', encoding='utf-8-sig')

In [47]:
nan_rg_add.to_csv('./nan_rg_add.csv', encoding='utf-8-sig')

In [48]:
지역맛집_외지인.head()

            업소명                      주소     분류  외지인 검색 수
0          동화가든  강원 강릉시 초당순두부길77번길 15-0     한식    141365
1         카페툇마루       강원 강릉시 난설헌로 232-0     카페     89966
2  테라로사커피공장강릉본점          강원 강릉시 현천길 7-0     카페     83281
3     엄지네포장마차본점   강원 강릉시 경강로2255번길 21-0  음식점기타     62087
4             곳      강원 강릉시 진리해변길 143-0     카페     42426

In [49]:
지역맛집_외지인['주소'] = C지역맛집_외지인_주소

In [50]:
지역맛집_외지인.head()

            업소명                    주소     분류  외지인 검색 수
0          동화가든  강원 강릉시 초당순두부길77번길 15     한식    141365
1         카페툇마루       강원 강릉시 난설헌로 232     카페     89966
2  테라로사커피공장강릉본점          강원 강릉시 현천길 7     카페     83281
3     엄지네포장마차본점   강원 강릉시 경강로2255번길 21  음식점기타     62087
4             곳      강원 강릉시 진리해변길 143     카페     42426

In [51]:
#nan_rg_add에서 위도, 경도가 0으로 나오는 곳은 직접 검색해서 적어 놓았다.
lat =[37.7911361, 37.6965004, 37.8223696, 37.7713400, 37.8592616, 37.7913873, 37.7028444, 37.7409999, 37.7912484]
lng = [128.914702, 128.891996, 128.884983, 128.948532, 128.831679, 128.914766, 129.015854, 128.983663, 128.915000]

In [52]:
nan_rg_add['lat'] = lat
nan_rg_add['lng'] = lng

In [53]:
#결측값 직접 채우기
nan_rg_add

                      주소        lat         lng
0   강원 강릉시 초당순두부길77번길 15  37.791136  128.914702
2           강원 강릉시 현천길 7  37.696500  128.891996
11         강원 강릉시 순포안길 6  37.822370  128.884983
27      강원 강릉시 창해로2번길 32  37.771340  128.948532
46       강원 강릉시 성안길 47-3  37.859262  128.831679
50  강원 강릉시 초당순두부길77번길 20  37.791387  128.914766
61        강원 강릉시 정동등명길 3  37.702844  129.015854
71        강원 강릉시 염전길 147  37.741000  128.983663
81  강원 강릉시 초당순두부길77번길 16  37.791248  128.915000

In [54]:
rg_mat_tour_add = pd.read_csv('./rg_mat_tour_add.csv')

In [55]:
rg_mat_tour_add.drop(columns='Unnamed: 0', axis=1)

                       주소        lat         lng
0    강원 강릉시 초당순두부길77번길 15   0.000000    0.000000
1         강원 강릉시 난설헌로 232  37.790836  128.914325
2            강원 강릉시 현천길 7   0.000000    0.000000
3     강원 강릉시 경강로2255번길 21  37.766072  128.907529
4        강원 강릉시 진리해변길 143  37.841909  128.874745
..                    ...        ...         ...
92     강원 강릉시 창해로350번길 17  37.796221  128.917484
93      강원 강릉시 창해로14번길 22  37.771948  128.948110
94        강원 강릉시 죽헌길 67-6  37.779010  128.880228
95  강원 강릉시 경강로2046번길 11-2  37.751083  128.892783
96         강원 강릉시 풍호길 270  37.747093  128.971083

[97 rows x 3 columns]

In [56]:
rg_mat_tour_add['주소']

0      강원 강릉시 초당순두부길77번길 15
1           강원 강릉시 난설헌로 232
2              강원 강릉시 현천길 7
3       강원 강릉시 경강로2255번길 21
4          강원 강릉시 진리해변길 143
              ...
92       강원 강릉시 창해로350번길 17
93        강원 강릉시 창해로14번길 22
94          강원 강릉시 죽헌길 67-6
95    강원 강릉시 경강로2046번길 11-2
96           강원 강릉시 풍호길 270
Name: 주소, Length: 97, dtype: object

In [57]:
rg_mat_tour_add.iloc[0, 1] #0행 첫번째 인덱스값을 출력

for a in rg_mat_tour_add.iloc[:, 2]: #모든 행의 두번째 인덱스값을 a에 넣고 전부 출력
    print(a)

0.0
37.7908365
0.0
37.7660725
37.8419086
37.7908365
37.7962206
37.8361547
37.7908365
37.7693596
37.8045208
0.0
37.7572806
37.7913361
37.7913361
37.754199
37.7593465
37.7843303
37.7913361
37.7579051
37.7625858
37.7593465
37.7913361
37.7710137
37.7980666
37.755168
37.8809522
0.0
37.7962206
37.7650597
37.8045208
37.7719482
37.7691315
37.7719482
37.7695701
37.9052967
37.7119433
37.8908421
37.7908365
37.7660725
37.7849701
37.7611765
37.7913361
37.7538507
37.7678349
37.7643297
0.0
37.8520371
37.7593465
37.7980666
0.0
37.8045208
37.7913361
37.8682534
37.8419086
37.758775
37.7668194
37.8045208
37.8045208
37.7593465
37.7655582
0.0
37.7962206
37.7913361
37.783454
37.7576114
37.7648055
37.7508411
37.8045208
37.7650189
37.7913361
0.0
37.752594
37.7625858
37.7913361
37.7727923
37.7636036
37.8606382
37.7604989
37.7980666
37.8045208
0.0
37.8045208
37.8809522
37.7625858
37.7962206
37.8045208
37.7544603
37.7908365
37.7908365
37.7624715
37.7980666
37.7962206
37.7719482
37.77901
37.7510833
37.7470933

In [58]:
range(len(rg_mat_tour_add)) #반복문에 넣을 범위 특정

range(0, 97)

In [59]:
rg_mat_tour_add['lat'][1]

37.7908365

### DataFrame을 반복문에 넣으면 <u>**반복되는 값은 컬럼이지. 그 열의 내용이 아니다?**</u>

rg_mat_tour_add의 특정 주소의 컬럼 [lat, lng]에는 0이라는 빈 값이 들어있다.<br>
nan_rg_add에는 위 자료의 빈 값의 주소와 수정된 [lat, lng]가 들어있다. <br>
rg_mat_tour_add의 컬럼[lat, lng]의 빈 값을 지닌 행을 nan_rg_add의 값으로 대체하는 코딩을 작성해보자

In [60]:
rg_mat_tour_add = rg_mat_tour_add.drop(columns='Unnamed: 0')

In [61]:
rg_mat_tour_add.head()

                     주소        lat         lng
0  강원 강릉시 초당순두부길77번길 15   0.000000    0.000000
1       강원 강릉시 난설헌로 232  37.790836  128.914325
2          강원 강릉시 현천길 7   0.000000    0.000000
3   강원 강릉시 경강로2255번길 21  37.766072  128.907529
4      강원 강릉시 진리해변길 143  37.841909  128.874745

In [64]:
lat =[37.7911361, 37.6965004, 37.8223696, 37.7713400, 37.8592616, 37.7913873, 37.7028444, 37.7409999, 37.7912484]
lng = [128.914702, 128.891996, 128.884983, 128.948532, 128.831679, 128.914766, 129.015854, 128.983663, 128.915000]

In [65]:
lat.index(37.8223696)

2

In [66]:
# DataFrame의 index 속성은 DataFrame의 맨 위 행에서 맨 아래 행까지 범위 객체를 제공합니다.
rg_mat_tour_add.index

RangeIndex(start=0, stop=97, step=1)

In [67]:
# rg_mat_tour_add의 컬럼['lat', 'lng']의 값들 중 0인 값을 nan_rg_add의 값들로 바꾸는 코딩
for i in range(len(rg_mat_tour_add)):  # range(len(rg_mat_tour_add)) = range(0, 97) 객체
    if rg_mat_tour_add['lat'][i] == 0: # nan_rg_add.index = Int64Index([0, 2, 11, 27, 46, 50, 61, 71, 81], dtype='int64')
        rg_mat_tour_add['lat'][i] = nan_rg_add['lat'][i]
        rg_mat_tour_add['lng'][i] = nan_rg_add['lng'][i]
    else:
        pass

C:\Users\hoo58\AppData\Local\Temp/ipykernel_9148/294661063.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rg_mat_tour_add['lat'][i] = nan_rg_add['lat'][i]
C:\Users\hoo58\AppData\Local\Temp/ipykernel_9148/294661063.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rg_mat_tour_add['lng'][i] = nan_rg_add['lng'][i]

In [68]:
rg_mat_tour_add.iloc[list(nan_rg_add.index), :]
#index[2, 11]의 ['lat', 'lng'] 값은 nan_rg_add.loc[11, :] 값이다.

                      주소        lat         lng
0   강원 강릉시 초당순두부길77번길 15  37.791136  128.914702
2           강원 강릉시 현천길 7  37.696500  128.891996
11         강원 강릉시 순포안길 6  37.822370  128.884983
27      강원 강릉시 창해로2번길 32  37.771340  128.948532
46       강원 강릉시 성안길 47-3  37.859262  128.831679
50  강원 강릉시 초당순두부길77번길 20  37.791387  128.914766
61        강원 강릉시 정동등명길 3  37.702844  129.015854
71        강원 강릉시 염전길 147  37.741000  128.983663
81  강원 강릉시 초당순두부길77번길 16  37.791248  128.915000

In [69]:
nan_rg_add.index

Int64Index([0, 2, 11, 27, 46, 50, 61, 71, 81], dtype='int64')

In [70]:
nan_rg_add.iloc[2, 1]

37.8223696

In [71]:
rg_mat_tour_add.iloc[2, [1, 2]]  =  nan_rg_add.iloc[2, [1,2 ]]

In [72]:
rg_mat_tour_add

                       주소        lat         lng
0    강원 강릉시 초당순두부길77번길 15  37.791136  128.914702
1         강원 강릉시 난설헌로 232  37.790836  128.914325
2            강원 강릉시 현천길 7  37.822370  128.884983
3     강원 강릉시 경강로2255번길 21  37.766072  128.907529
4        강원 강릉시 진리해변길 143  37.841909  128.874745
..                    ...        ...         ...
92     강원 강릉시 창해로350번길 17  37.796221  128.917484
93      강원 강릉시 창해로14번길 22  37.771948  128.948110
94        강원 강릉시 죽헌길 67-6  37.779010  128.880228
95  강원 강릉시 경강로2046번길 11-2  37.751083  128.892783
96         강원 강릉시 풍호길 270  37.747093  128.971083

[97 rows x 3 columns]

In [73]:
rg_mat_tour_add.to_csv('./rg_mat_tour_add.csv', encoding='utf-8-sig')

In [74]:
지역맛집_외지인.head()

            업소명                    주소     분류  외지인 검색 수
0          동화가든  강원 강릉시 초당순두부길77번길 15     한식    141365
1         카페툇마루       강원 강릉시 난설헌로 232     카페     89966
2  테라로사커피공장강릉본점          강원 강릉시 현천길 7     카페     83281
3     엄지네포장마차본점   강원 강릉시 경강로2255번길 21  음식점기타     62087
4             곳      강원 강릉시 진리해변길 143     카페     42426

In [75]:
rg_mat_tour_add.head()

                     주소        lat         lng
0  강원 강릉시 초당순두부길77번길 15  37.791136  128.914702
1       강원 강릉시 난설헌로 232  37.790836  128.914325
2          강원 강릉시 현천길 7  37.822370  128.884983
3   강원 강릉시 경강로2255번길 21  37.766072  128.907529
4      강원 강릉시 진리해변길 143  37.841909  128.874745

In [76]:
clear = 지역맛집_외지인.merge(rg_mat_tour_add, how='left', on='주소')

In [77]:
clear

,업소명,주소,분류,외지인 검색 수,lat,lng
0,동화가든,강원 강릉시 초당순두부길77번길 15,한식,141365,37.791136,128.914702
1,카페툇마루,강원 강릉시 난설헌로 232,카페,89966,37.790836,128.914325
2,테라로사커피공장강릉본점,강원 강릉시 현천길 7,카페,83281,37.822370,128.884983
3,엄지네포장마차본점,강원 강릉시 경강로2255번길 21,음식점기타,62087,37.766072,128.907529
4,엄지네포장마차본점,강원 강릉시 경강로2255번길 21,음식점기타,62087,37.766072,128.907529
...,...,...,...,...,...,...
100,강릉해파랑,강원 강릉시 창해로350번길 17,음식점기타,5102,37.796221,128.917484
101,미르마르본점,강원 강릉시 창해로14번길 22,카페,5076,37.771948,128.948110
102,썸머키친,강원 강릉시 죽헌길 67-6,음식점기타,4988,37.779010,128.880228
103,오월커피,강원 강릉시 경강로2046번길 11-2,카페,4971,37.751083,128.892783
104,강릉불고기,강원 강릉시 풍호길 270,한식,4912,37.747093,128.971083

In [78]:
clear[clear.duplicated()]

            업소명                   주소     분류  외지인 검색 수        lat         lng
4     엄지네포장마차본점  강원 강릉시 경강로2255번길 21  음식점기타     62087  37.766072  128.907529
16    순두부젤라또1호점   강원 강릉시 초당순두부길 95-5     카페     19343  37.791336  128.915764
21       초당소나무집   강원 강릉시 초당순두부길 95-5     한식     17031  37.791336  128.915764
26    차현희순두부청국장     강원 강릉시 초당순두부길 98     한식     15542  37.791336  128.915764
31        도깨비시장     강원 강릉시 학교담길 32-8     카페     12365  37.880952  128.831472
45    엄지네포장마차본점  강원 강릉시 경강로2255번길 21     한식      9540  37.766072  128.907529
77  차현희순두부청국장본점     강원 강릉시 초당순두부길 98     한식      6401  37.791336  128.915764
91        복사꽃싸롱     강원 강릉시 학교담길 32-8     카페      5331  37.880952  128.831472

In [79]:
list(clear[clear.duplicated()].index)

[4, 16, 21, 26, 31, 45, 77, 91]

In [80]:
clear1 = clear.drop(index = list(clear[clear.duplicated()].index), axis=0)

In [81]:
clear1.reset_index()

,index,업소명,주소,분류,외지인 검색 수,lat,lng
0,0,동화가든,강원 강릉시 초당순두부길77번길 15,한식,141365,37.791136,128.914702
1,1,카페툇마루,강원 강릉시 난설헌로 232,카페,89966,37.790836,128.914325
2,2,테라로사커피공장강릉본점,강원 강릉시 현천길 7,카페,83281,37.822370,128.884983
3,3,엄지네포장마차본점,강원 강릉시 경강로2255번길 21,음식점기타,62087,37.766072,128.907529
4,5,곳,강원 강릉시 진리해변길 143,카페,42426,37.841909,128.874745
...,...,...,...,...,...,...,...
92,100,강릉해파랑,강원 강릉시 창해로350번길 17,음식점기타,5102,37.796221,128.917484
93,101,미르마르본점,강원 강릉시 창해로14번길 22,카페,5076,37.771948,128.948110
94,102,썸머키친,강원 강릉시 죽헌길 67-6,음식점기타,4988,37.779010,128.880228
95,103,오월커피,강원 강릉시 경강로2046번길 11-2,카페,4971,37.751083,128.892783
96,104,강릉불고기,강원 강릉시 풍호길 270,한식,4912,37.747093,128.971083

In [82]:
clear1.to_csv('./cleardata_gang.csv', encoding='utf-8-sig')

In [83]:
clear1

,업소명,주소,분류,외지인 검색 수,lat,lng
0,동화가든,강원 강릉시 초당순두부길77번길 15,한식,141365,37.791136,128.914702
1,카페툇마루,강원 강릉시 난설헌로 232,카페,89966,37.790836,128.914325
2,테라로사커피공장강릉본점,강원 강릉시 현천길 7,카페,83281,37.822370,128.884983
3,엄지네포장마차본점,강원 강릉시 경강로2255번길 21,음식점기타,62087,37.766072,128.907529
5,곳,강원 강릉시 진리해변길 143,카페,42426,37.841909,128.874745
...,...,...,...,...,...,...
100,강릉해파랑,강원 강릉시 창해로350번길 17,음식점기타,5102,37.796221,128.917484
101,미르마르본점,강원 강릉시 창해로14번길 22,카페,5076,37.771948,128.948110
102,썸머키친,강원 강릉시 죽헌길 67-6,음식점기타,4988,37.779010,128.880228
103,오월커피,강원 강릉시 경강로2046번길 11-2,카페,4971,37.751083,128.892783
104,강릉불고기,강원 강릉시 풍호길 270,한식,4912,37.747093,128.971083

In [84]:
clear1.rename(columns={'lat':'위도', 'lng':'경도'}, inplace=True)

In [85]:
clear1

,업소명,주소,분류,외지인 검색 수,위도,경도
0,동화가든,강원 강릉시 초당순두부길77번길 15,한식,141365,37.791136,128.914702
1,카페툇마루,강원 강릉시 난설헌로 232,카페,89966,37.790836,128.914325
2,테라로사커피공장강릉본점,강원 강릉시 현천길 7,카페,83281,37.822370,128.884983
3,엄지네포장마차본점,강원 강릉시 경강로2255번길 21,음식점기타,62087,37.766072,128.907529
5,곳,강원 강릉시 진리해변길 143,카페,42426,37.841909,128.874745
...,...,...,...,...,...,...
100,강릉해파랑,강원 강릉시 창해로350번길 17,음식점기타,5102,37.796221,128.917484
101,미르마르본점,강원 강릉시 창해로14번길 22,카페,5076,37.771948,128.948110
102,썸머키친,강원 강릉시 죽헌길 67-6,음식점기타,4988,37.779010,128.880228
103,오월커피,강원 강릉시 경강로2046번길 11-2,카페,4971,37.751083,128.892783
104,강릉불고기,강원 강릉시 풍호길 270,한식,4912,37.747093,128.971083

In [ ]:
clear1.reset_index(inplace=True)

In [ ]:
clear1.to_csv('./clear1.csv', index=False, encoding='utf-8-sig')